@import "tailwindcss";

@theme {
  --color-primary: #FBF9F5;
  --color-accent: #044B38;
  --color-soft-accent: #B5EEE1;
  --color-yellow: #F1B135;

  --color-grey-opacity: #D9D9D9;

  --color-text: #F5F5F5;
  --color-grey: #877E81;
  --color-text-accent: #07423B;
  --color-text-secondary: #00362F;
  --color-text-primary: #BDBDBD;

  --color-bg-button: #044B38;
  --color-bg-white: #ffffff;

  --color-card-soft: #EFEEEA;
  --color-card-light: #DBE2D2;

  --color-icon: #044B38;
  --color-icon2: #828280;

  --color-border: #D9D9D9;

  /* Font Size */
  --text-hero: 1.875rem;
  --text-page: 1.5rem;
  --text-section: 1.25rem;
  --text-card: 1.125rem;
  --text-body: 1rem;
  --text-description: 0.875rem;
  --text-caption: 0.75rem;
  --font-lora: "Lora", serif;
  --font-des: "Cormorant Garamond", serif;
  --text-small: 0.625rem;
}